<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">
        
        <!-- Custom CSS -->
        <link rel="stylesheet" href="https://s3.amazonaws.com/BikePit/fonts/stylesheet.css">
        <link rel="stylesheet" href="https://s3.amazonaws.com/BikePit/css/main.css">
        <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">

        <link href='http://fonts.googleapis.com/css?family=Nunito:300,700' rel='stylesheet' type='text/css'>

        <script type="text/javascript">
          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-44672919-1']);
          _gaq.push(['_trackPageview']);

          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();
        </script>
    </head>
    <body>
        <div class="header">
          <div class="banner">
            <a class="title" href="/">{{ site.name }}</a>
          </div>
          <ul class="navigation">
            <li><a class="extra" href="/blog/">Blog</a></li>
            <li><a class="extra" href="/about">About</a></li>
            <li><a class="extra" href="/schedule/">Schedule</a></li>
            <li><a class="extra heart" href="/participate/">Participate</a></li>
            <li><a class="extra" href="/contact">Contact</a></li>
          </ul>
        </div>
        <div class="site">
          <div class="container">
            <div class="writing">
              {{ content }}
            </div>
          </div>
        </div>
        <div class="footer">
          <div class="foot-body">
            <ul class="navigation">
              <li><a class="extra" href="/blog/">Blog</a></li>
              <li><a class="extra" href="/about">About</a></li>
              <li><a class="extra" href="/schedule/">Schedule</a></li>
              <li><a class="extra heart" href="/participate/">Participate</a></li>
              <li><a class="extra" href="/contact">Contact</a></li>
            </ul>
            <hr/>
            <div class="location">
              <a href="http://maps.google.com/?q=411 Lipan St., Denver, Colorado, 80204" target="_blank">
                <span>
                The Bike Pit!
                <br/>
                411 Lipan St. 
                <br/>
                Denver, CO 80204
                </span>
              </a>
            </div>
            <a class="email" href="mailto:411bikepit@gmail.com" target="_blank">
              411bikepit@gmail.com
            </a>
          </div>
        </div>
    </body>
</html>
