<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">
        <link rel="stylesheet" href="/fonts/opensans_bold_macroman/stylesheet.css">
        <link href='http://fonts.googleapis.com/css?family=Nunito:300,700' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Libre+Baskerville:400,700' rel='stylesheet' type='text/css'>

    </head>
    <body>

        <div class="site">
          <div class="container">
            <div class="header">
              <a class="title" href="/">{{ site.name }}</a>
              <a class="extra" href="/contact">Contact</a>
              <a class="extra" href="/learn/">Learn</a>
              <a class="extra" href="/participate/">Participate</a>
              <a class="extra" href="/schedule/">Schedule</a>
              <a class="extra" href="/about/">About</a>
            </div>
            <div class=".writing">
              {{ content }}
            </div>
          </div>
        </div>
        <div class="footer">
          <div class="foot-body">
            <div class="contact right text-right">
              The Bike Pit</br>
              411 Lipan St.</br>
              Denver, CO 80204
            </div>
          </div>
        </div>
    </body>
</html>
